@page "/historicdata"
@inject HttpClient Http



<h3>HistoricData</h3>


@if (Mains == null)
{
<p><em>Problem with API</em></p>

}
else
{




<table class="table">
    <thead>
        <tr>
            <th>Complete</th>
            <th>Volume</th>
            <th>Time</th>
            <th>open</th>
            <th>high</th>
            <th>low</th>
            <th>close</th>


        </tr>
    </thead>
    <tbody>
        <tr>


            @if (Mains != null)
            {

                @foreach (var candles in Mains.candles)
            {
                <td>@candles.complete</td>
                <td>@candles.volume</td>
                <td>@candles.time</td>
                <td>@candles.mid.o</td>
                <td>@candles.mid.h</td>
                <td>@candles.mid.l</td>
                <td>@candles.mid.c</td>
                }
            }
            
        </tr>
    </tbody>
</table>


}


